/* 閿熸枻鎷烽敓閰电》鎷烽敓锟*/
.icon-audit{
	background:url('icons/audit.png') no-repeat center center;
}
/* 閿熷壙绛规嫹鍥鹃敓鏂ゆ嫹 */
.icon-exit{
	background:url('icons/exit.png') no-repeat center center;
}
/* 閿熸枻鎷烽敓鏂ゆ嫹鍥鹃敓鏂ゆ嫹 */
.icon-export{
	background:url('icons/export.png') no-repeat center center;
}
/* 閿熸枻鎷烽敓鏂ゆ嫹鍥鹃敓鏂ゆ嫹 */
.icon-import{
	background:url('icons/import.png') no-repeat center center;
}
/* 閿熸枻鎷烽敓閰电》鎷烽敓锟*/
.icon-registchange{
	background:url('icons/registchange.png') no-repeat center center;
}
/* 浣嶉敓鏂ゆ嫹鍥鹃敓鏂ゆ嫹 */
.icon-location{
	background:url('icons/location.png') no-repeat center center;
}

/* 閿熸枻鎷烽敓鏂ゆ嫹鍥鹃敓鏂ゆ嫹 */
.icon-detail{
	background:url('icons/detail.png') no-repeat center center;
}

/* 閿熷眾杩瑰浘閿熸枻鎷�*/
.icon-trajectory{
	background:url('icons/trajectory.png') no-repeat center center;
}

/* 閿熸枻鎷烽敓鏂ゆ嫹妗跺浘閿熸枻鎷�*/
.icon-trash-can{
	background:url('icons/trash_can.png') no-repeat center center;
}

/* 閿熸埅浼欐嫹鍥鹃敓鏂ゆ嫹 */
.icon-shutdown{
	background:url('icons/shutdown.png') no-repeat center center;
}

/* 涓婚 */
.icon-theme{
	background:url('icons/theme.png') no-repeat center center;
}

.icon-camera{
	background:url('icons/camera.png') no-repeat center center;
}

.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
